<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ncm2flac">

    <application
        android:allowBackup="true"
        <!-- 移除自定义图标，使用系统默认图标 -->
        android:label="NCM2FLAC Converter"
        <!-- 移除自定义主题，使用系统默认主题 -->
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
